{% extends 'base.html' %}
{% block extrastyles %}
    <link rel="stylesheet" href="/static/css/topIsland.css" />
{% endblock extrastyles %}

{% block content %}
    {% include 'topIsland.html' %}
    <section class="section">
        <h1 class="heroHeaderTitle__jHg7">
            <span class="superiorTitle__jHg7">Comfortable & Stylish</span>
            <span class="inferiorTitle__jHg7">Clothing for the Real You</span>
        </h1>
        <div class="heroTextContent__jHg7">
            <p class="heroBlurb__jHg7">
                Discover our sustainable and unique collection of clothing made with you in mind. Whether you're looking for 
                something casual to wear or something more formal for the occassions that matter, we, Oubjects, are here for you.
            </p>
            <button class="heroCTA__jHg7">Shop Our Seasonal Collection</button>
        </div>
        <div class="heroImageContainer__jHg7">
            <div class="heroImage__jHg7">
                <img src="/static/images/220108_BERNER_KUHL_02_0424_f2ccda76-c97f-4c3e-9d91-e3144fb20c1c_x1000.jpg" />
            </div>
            <div class="heroImage__jHg7">
                <img src="/static/images/51e7caa9-e369-46b4.jpg" />
            </div>
        </div>
    </section>
    <section class="section">
        <div class="wrapper-standard">
            <div class="p-40">
                <h2 class="sectionTitle__jHg7">Oubjects</h2>
                <p class="shopCoordinates__jHg7">53.5461° N, 113.4937° W</p>
            </div>
            <h3 class="bestSellersTitle__jHg7">
                <span class="bestSellersTitleText__jHg7">Best Sellers</span>
            </h3>
        </div>
    </section>

    {% include 'footer.html' %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/index.js"></script>
{% endblock scripts %}