{% load static %}

<div class="relative">
    <div class="topIslandWrapper__g7w9">
        <div class="superiorIsland__g7w9">
            <div class="topIslandLogo__g7w9">
                <img src="{% static 'oubjects-logo.svg' %}" />
            </div>
            <div class="menuToggler__g7w9">
                <div class="relative">
                    <div class="menuTogglerText__g7w9">Menu</div>
                </div>
            </div>
            <div class="superiorIslandMenu__g7w9">
                <ul>
                    <li>
                        <div>
                            <p class="menuItem__g7w9">Search</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="menuItem__g7w9">Cart(<span class="font-mono">0</span>)</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
        <ul class="topIslandMenu__g7w9">
            <li>
                <a href="">Shop</a>
            </li>
            <li>
                <a href="">Collections</a>
            </li>
            <li>
                <a href="">Information</a>
            </li>
        </ul>
    </div>
</div>